<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr>
      <app-servers></app-servers> <!--HTML-Tag aus der Servers Component, die ihren HTML-Code aus der servers.component.html-Datei bezieht-->
      <!-- <div app-servers></div> Angular selektiert die Component als CSS-Attribute und nicht mehr als HTML-Element an sich-->
      <!-- <div class="app-servers"></div> Angular selektiert die Component als CSS-Klasse und nicht mehr als HTML-Element an sich -->
    </div>
  </div>
</div>
